In [3]:
import os
from os import listdir
from os.path import isfile, join
dir_files = [i for i in os.listdir(os.getcwd() + '/data') if os.path.isfile(join(os.getcwd() + '/data', i))]
dir_files

['1year.arff', '2year.arff', '3year.arff', '4year.arff', '5year.arff']

In [4]:
from scipy.io import arff
import pandas as pd
import numpy as np

In [5]:
data_dict = {}
full_df = pd.DataFrame()

records = 0

for f in dir_files:
    temp_data = arff.loadarff(os.getcwd() + '/data/' +f)
    temp_df = pd.DataFrame(temp_data[0])
    print(temp_df.shape)
    data_dict.update({f:temp_df})
    full_df = pd.concat([full_df, temp_df])
    records += temp_df.shape[0]

print(records)

(7027, 65)
(10173, 65)
(10503, 65)
(9792, 65)
(5910, 65)
43405

In [6]:
full_df.head(5)

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class
0,0.200550,0.37951,0.39641,2.0472,32.3510,0.38825,0.249760,1.33050,1.1389,0.50494,...,0.121960,0.39718,0.87804,0.001924,8.4160,5.1372,82.658,4.4158,7.4277,b'0'
1,0.209120,0.49988,0.47225,1.9447,14.7860,0.00000,0.258340,0.99601,1.6996,0.49788,...,0.121300,0.42002,0.85300,0.000000,4.1486,3.2732,107.350,3.4000,60.9870,b'0'
2,0.248660,0.69592,0.26713,1.5548,-1.1523,0.00000,0.309060,0.43695,1.3090,0.30408,...,0.241140,0.81774,0.76599,0.694840,4.9909,3.9510,134.270,2.7185,5.2078,b'0'
3,0.081483,0.30734,0.45879,2.4928,51.9520,0.14988,0.092704,1.86610,1.0571,0.57353,...,0.054015,0.14207,0.94598,0.000000,4.5746,3.6147,86.435,4.2228,5.5497,b'0'
4,0.187320,0.61323,0.22960,1.4063,-7.3128,0.18732,0.187320,0.63070,1.1559,0.38677,...,0.134850,0.48431,0.86515,0.124440,6.3985,4.3158,127.210,2.8692,7.8980,b'0'

In [7]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43405 entries, 0 to 5909
Data columns (total 65 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Attr1   43397 non-null  float64
 1   Attr2   43397 non-null  float64
 2   Attr3   43397 non-null  float64
 3   Attr4   43271 non-null  float64
 4   Attr5   43316 non-null  float64
 5   Attr6   43397 non-null  float64
 6   Attr7   43397 non-null  float64
 7   Attr8   43311 non-null  float64
 8   Attr9   43396 non-null  float64
 9   Attr10  43397 non-null  float64
 10  Attr11  43361 non-null  float64
 11  Attr12  43271 non-null  float64
 12  Attr13  43278 non-null  float64
 13  Attr14  43397 non-null  float64
 14  Attr15  43369 non-null  float64
 15  Attr16  43310 non-null  float64
 16  Attr17  43311 non-null  float64
 17  Attr18  43397 non-null  float64
 18  Attr19  43277 non-null  float64
 19  Attr20  43278 non-null  float64
 20  Attr21  37551 non-null  float64
 21  Attr22  43397 non-null  float64
 22  Attr23  43278 non-null  float64
 23  Attr24  42483 non-null  float64
 24  Attr25  43397 non-null  float64
 25  Attr26  43310 non-null  float64
 26  Attr27  40641 non-null  float64
 27  Attr28  42593 non-null  float64
 28  Attr29  43397 non-null  float64
 29  Attr30  43278 non-null  float64
 30  Attr31  43278 non-null  float64
 31  Attr32  43037 non-null  float64
 32  Attr33  43271 non-null  float64
 33  Attr34  43311 non-null  float64
 34  Attr35  43397 non-null  float64
 35  Attr36  43397 non-null  float64
 36  Attr37  24421 non-null  float64
 37  Attr38  43397 non-null  float64
 38  Attr39  43278 non-null  float64
 39  Attr40  43271 non-null  float64
 40  Attr41  42651 non-null  float64
 41  Attr42  43278 non-null  float64
 42  Attr43  43278 non-null  float64
 43  Attr44  43278 non-null  float64
 44  Attr45  41258 non-null  float64
 45  Attr46  43270 non-null  float64
 46  Attr47  43108 non-null  float64
 47  Attr48  43396 non-null  float64
 48  Attr49  43278 non-null  float64
 49  Attr50  43311 non-null  float64
 50  Attr51  43397 non-null  float64
 51  Attr52  43104 non-null  float64
 52  Attr53  42593 non-null  float64
 53  Attr54  42593 non-null  float64
 54  Attr55  43404 non-null  float64
 55  Attr56  43278 non-null  float64
 56  Attr57  43398 non-null  float64
 57  Attr58  43321 non-null  float64
 58  Attr59  43398 non-null  float64
 59  Attr60  41253 non-null  float64
 60  Attr61  43303 non-null  float64
 61  Attr62  43278 non-null  float64
 62  Attr63  43271 non-null  float64
 63  Attr64  42593 non-null  float64
 64  class   43405 non-null  object
dtypes: float64(64), object(1)
memory usage: 21.9+ MB

In [8]:
full_df['class'].value_counts()

b'0'    41314
b'1'     2091
Name: class, dtype: int64